body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.user-icon img {
    width: 100px;
    height: 100px;
    /* margin-bottom: 20px; */
}

h2 {
    color: #003366; /* Azul oscuro */
}

label {
    display: block;
    margin-top: 10px;
    color: #333333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.input-icon {
    background-color: #cccccc;
    padding: 8px;
    border: 1px solid #cccccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    
    border-radius: 5px;
    outline: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e95152; /* Rojo */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 1s;
}

button:hover {
    background-color: rgb(187, 5, 5); /* Rojo más oscuro */
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #003366; /* Azul oscuro */
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}